.App {
  text-align: center;
}

.App-header {
  background-color: ;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes color {
  0%   { background: #0046c2; }
  20%  { background: #ba44cd; }
  40%  { background: #95f4b0; }
  60%  { background: #006efe; }
  80%  { background: #9900ff; }
  100% { background: #3fff00; }
}

body {
  background: #33CCCC; /* Fallback */
  animation: color 9s infinite linear;
  text-align: center;
  padding: 2em;
}
h1 {
  text-align: center;
  font-family: 'Kavoon', sans-serif;
  font-size: 2.5em;
  color: white;
}

