.App {
  text-align: center;
}

.App-header {
  background-image: url(https://img.wallpapersafari.com/desktop/800/450/44/41/9cFl2a.jpg);
  background-repeat: repeat;
  padding-top: 20px;
  padding-bottom: 20px;
  color: brown;
  text-shadow: 0 0 5px #FF0000, 0 0 10px white;
  

}

body{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-image: url();
}

.images{
  border-radius: 15px;
  border-color: #9900ff, 20px;
}
.img-container{

  margin:10px;
  color: rgb(159, 89, 19);
}


